html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ae;
  line-height: 1.5;
}

h1 h2 {
  font-family: "PT Sans", sans-serif;
  color: #560f1d;
}

nav ol {
  list-style-type: none;
}

a {
  color: #9e1d3b;
  font-weight: bold;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

a:hover {
  color: #441331;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.firstparagraph {
  font-weight: bolder;
  font-size: 1.2rem;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
}

blockquote strong {
  font-weight: normal;
}

.name {
  font-size: .8rem;
}

ol {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

ul {
  list-style: circle;
  font-size: .8rem;
}
