html {
  background-color: #c9b5ae
}

h1 {
  color: #391519
}

h1 {
  font-family: 'PT sans', serif;
}

nav {
  font-family: 'PT sans', serif;
}

ol {
  list-style: none;
}

a {
  color: #80354a
}

a:hover {
  color: #391519
}
