html {
  background-color: #c9b5ae
}

h1 {
  color: #391519
}

h1 {
  font-family: 'PT sans', serif;
}

nav {
  font-family: 'PT sans', serif;
}

ol {
  list-style: none;
}

a {
  color: #80354a
}

a:hover {
  color: #391519
}

a:hover {
  text-decoration: underline;
}

a {
  font-size: 1.5em;
}

a {
  font-weight: bold;
}

a {
  text-decoration: none;
}

p:first-of-type {
  font-size: 1.5em;
}

p:first-of-type {
  font-family: 'PT serif' serif;
}
